testfiles/output/*.*
~*
*.class
*.exe
*.o
*.so
*.com
*.dll
*.log
.DS_Store
web-app/
*.js
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
target/
KidAid/testfiles/output/*.*
*.fixedCounts
Uncompiled_DecisionTables.xml
temp/
bin/
apidocs
classes
generated-sources
surefire-reports
test-classes
.metadata
pom.xml.releaseBackup
testfiles/
.~*
*~
._*

output/
Uncompiled_Edd.xml
*_dt_strip.xml
*_edd_strip.xml
