testfiles/output/*.*
~*
*.class
*.exe
*.o
*.so
*.com
*.dll
*.log
web-app/
*.js
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
target/
KidAid/testfiles/output/*.*
*.fixedCounts
Uncompiled_DecisionTables.xml
temp/
bin/
