<!-- This is a simple XML file used to configure the ChipApp class.  Move this file to -->
<!-- the testfiles/ folder.  Each time the ChipApp class is executed, these settings   -->
<!-- will be picked up and used.                                                       -->
<chipAppSettings>

    <db_overhead>0</db_overhead>        <!-- Database overhead per case in ms                -->

    <threads>8</threads>                <!-- Number of threads used by ChipApp to            -->
                                        <!--   process the jobs generated.                   -->

    <numCases>50000</numCases>          <!-- The number of jobs to be generated. Most        -->
                                        <!--   jobs will have multiple applicants.           -->

    <save>500</save>                    <!-- One job out of every number specified here      -->
                                        <!--   will be saved to disk, to be processed        -->
                                        <!--   "offline".  (See the writeup)                 -->

    <console>false</console>            <!-- If true, results are printed to the console     -->
    
    <update>20</update>                 <!-- Look for Rules Engine updates every this many   -->
                                        <!--   seconds.                                      -->
                            
    <dtrules>dtrules</dtrules>          <!-- How to evaluate the rules: "dtrules", "java",   -->
                                        <!--   or "none".  "none" just creates jobs, sets    -->
                                        <!--   up threads, and pulls from list.  Its a way   -->
                                        <!--   to measure overhead.                          -->
     
    <printresults>false</printresults>  <!-- Print Approved, Denied client IDs               -->
                                      
</chipAppSettings>