<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SampleProject2/src/main/java/com/dtrules/samples/sampleproject2/TestSampleProject2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dtrules.samples.sampleproject2.TestSampleProject2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SampleProject2"/>
</launchConfiguration>
